header {
	height: 50px;
	/*padding-left: 70px;*/
}
.wrapper {
	background: #eee;
}

#buttonsDump {
	/*background: rgb(225, 245, 254);*/
	width: 80%;
	margin: 30px;
	padding: 20px;
}


.gifsDisplay {
	margin-left: 40px;
}


.inputDisplay {
	/*background: rgb(179, 229, 252);*/
	height: 200px;
	/*margin: 30px;*/
	width: 80%;
	margin-top: 40px;
	margin-left: 10px;

}

#labelText {
	padding-top: 30px;
}

#addButtonText {
	width: 90%;
	margin-bottom: 30px;
}

.buttonClass, #submitButton {
	border-radius: 12px;
	/*border: 2px solid #4CAF50;*/
	margin: 3px;
}

.buttonClass:hover, #submitButton:hover {
    background-color: #eee; /* Green */
    color: white;
}

#footerPart {
	height: 50px;
	background: #eee;
}
/*.gifDiv {
	position: relative;
}*/
.gifDiv {
	float: left;
/*	width: 50px;
	height: 50px;
	margin: 5px;*/
}

.gif {
	/*clear: both;*/
	/*position: auto; */
	/*top: 0; right: 0;*/
	/*float: left;*/
	clear: both;
	width: 220px;
	height: 220px;
	margin: 5px;
	/*z-index: -1;*/
}



/*.ratingP {
	position:absolute;
    top:0;right:0;
	z-index: 20;
}*/

.lineBreak {
	clear: both;
	background: black;
	height: 0.5px;
	padding-top: 20px;
	width: 93%;
}